body {
  background-color: Thistle;
}

h1, h2, p {
  text-align: center;
}

.menu{
width: %; 
background-color: thistle; 
margin-left:auto;
margin-right:auto;
padding: 150px; 
max-width: 500px;}


 hr{height: 5px; background-color: purple; border-color: pink;}
body{background-image: url(https://celcliptipsprod.s3-ap-northeast-1.amazonaws.com/tips_article_body/d750/414147/0903312a8c26a04595b15d8476304752);}

h1, h2, p{
text-align: center;
}




